<%= content_tag :section, class: "hero" do %>
  <div class="hero-info">
    <h1>
     IT'S TIME TO SCALL BRO <br><br>
      <span class="btn btn-cta">Scall up <strong>now</strong> !</span>
    </div>
  </div>

  <div class="scroll-down hidden-xs">
    <div class="angle-icon-wrapper"><%= icon("angle-down", class: "fa-5x", id: "scroll-down") %></div>
  </div>
<% end %>


