.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $alert-danger-text;
  }
}

.has-error {
  .control-label {
    color: $state-danger-text !important;
  }
}

// No blur outside input box
input, textarea, select {
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
  font-weight: 300;
}
label {
  font-weight: 400;
}
.input-sm, .input-lg {
  border-radius: $border-radius-base;
}
.radio, .checkbox {
  margin-top: 0;
}
.radio + .radio {
  margin-top: -5px !important;
}
.checkbox + .checkbox {
  margin-top: -5px !important;
}
.inline-wrapper {
  display: inline-block;
  margin-bottom: 0;
  // margin-right: 15px;
  > div, .help-block, .form-control {
    display: inline-block;
  }
}
// used to separate to inline select tag
.select-separator {
  padding: 0 5px;
  display: inline-block;
}

.inline-form-group {
  display: inline-block;
  margin-bottom: 0;
  > div {
    @extend .inline-wrapper;
    margin: 0 5px;
  }
}

// Display buttons instead of radio boxes
.radio-collections-container.inline-radio-buttons {
  span {
    display: inline-block;
    > label {
      display: inline-block;
      margin-bottom: 0;
      .collection_radio_buttons {
        width: 100%;
        font-size: $font-size-base;
      }
    }
    input[type="radio"] {
      display: none;
      + label {
        font-weight: 400;
        text-align: center;
        margin-bottom: 0;
        padding: 6px 10px;
        cursor: pointer;
      }
    }
    input[type=radio]:checked + label {
      background-color: #DDD;
    }
  }
}

.submit-link {
  border: none;
  background: none;
  padding: 0;
  text-decoration: underline;
  color: $brand-secondary;
}

// Custom styling for select2

.select2-container--bootstrap {
  .select2-selection {
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
  }
  &.select2-container--focus .select2-selection,
  &.select2-container--open .select2-selection {
    border-color: $brand-secondary !important;
  }
  .select2-results__option--highlighted[aria-selected] {
    background-color: $brand-secondary !important;
  }
  .select2-dropdown {
    border-color: $brand-secondary !important;
  }
  .select2-results__option[aria-selected=true] {
    background-color: $gray-lighter;
  }
}

