.space-0 {
  margin-bottom: 0;
}
.space-1 {
  margin-bottom: $space-unit;
}
.space-2 {
  margin-bottom: 2 * $space-unit;
}
.space-3 {
  margin-bottom: 3 * $space-unit;
}
.space-4 {
  margin-bottom: 4 * $space-unit;
}
.space-top-0 {
  margin-top: 0;
}
.space-top-1 {
  margin-top: $space-unit;
}
.space-top-2 {
  margin-top: 2 * $space-unit;
}
.space-top-3 {
  margin-top: 3 * $space-unit;
}
.space-top-4 {
  margin-top: 4 * $space-unit;
}
.space-left-0 {
  margin-left: 0;
}
.space-left-1 {
  margin-left: $space-unit;
}
.space-left-2 {
  margin-left: 2 * $space-unit;
}
.space-left-3 {
  margin-left: 3 * $space-unit;
}
.space-left-4 {
  margin-left: 4 * $space-unit;
}
.margin-0 {
  margin: 0 !important
}
.padding-top-4 {
  padding-top: 4 * $space-unit;
}
.padding-top-3 {
  padding-top: 3 * $space-unit;
}
