<div class="page">
  <div class="container space-3">
    <h2 class="page-header">Vous avez perdu votre mot de passe ?</h2>

    <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }, defaults: { label_html: { class: "sr-only" }, input_html: { class: "input-lg" }}) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">
        <%= f.input :email, placeholder: "Adresse email du compte", required: true, autofocus: true %>
      </div>

      <div class="form-actions">
        <%= f.button :submit, "Recevoir les instructions par mail", class: "btn btn-lg btn-action" %>
      </div>
    <% end %>

  </div>
</div>
