@font-face {
  font-family: "CaviarDreams";
  src: font-url("CaviarDreams.ttf") format("truetype"),
       font-url("CaviarDreams_BoldItalic.ttf") format("truetype"),
       font-url("CaviarDreams_Italic.ttf") format("truetype"),
       font-url("CaviarDreams_Bold.ttf") format("truetype");
       font-weight: normal;
       font-style: normal;
}
