<p>Bonjour <%= @resource.first_name %>!</p>

<p>Quelqu'un à demandé un lien pour réinitialiser votre mot de passe sur Cohome. Cliquez sur le lien ci-dessous pour changer de mot de passe.</p>

<p><%= link_to 'Change mon mot de passe', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Si vous n'êtes pas à l'origine de cette demande, ignorez simplement cet email.</p>
<p>Votre mot de passe de changera pas tant que vous ne cliquez pas sur le lien ci-dessus et changez votre mot de passe.</p>
